<mat-toolbar color="primary">
    <a mat-button routerLink="/home"><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink="/addtask"><span class="fa fa-plus-circle"></span> Add a new Task</a>
    <a mat-button routerLink="/listtask"><span class="fa fa-list"></span> List all Tasks</a>
</mat-toolbar>
