<div fxFlex fxFlexOffset="20px" class="form-size">
  <h3 *ngIf="!flag && !copyflag">Add a Task</h3>
  <form novalidate [formGroup]="taskForm" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm" *ngIf="!flag && !copyflag">
    <p>
      <mat-form-field class="half-width" color="{{(formErrors.name) ? 'warn':'primary'}}">
        <input matInput formControlName="name" placeholder="Task Name" type="text">
        <mat-hint>
          <span [hidden]="!(formErrors.name)">{{formErrors.name}}</span>
        </mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-select placeholder="Status" formControlName="status" class="half-width">
        <mat-option *ngFor="let stat of status" [value]="stat">
          {{ stat }}
        </mat-option>
      </mat-select>
    </p>
    <p>
      <mat-form-field class="half-width" color="{{(formErrors.description) ? 'warn':'primary'}}">
        <input matInput formControlName="description" placeholder="Description" type="text">
        <mat-hint>
          <span [hidden]="!(formErrors.description)">{{formErrors.description}}</span>
        </mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width" color="{{(formErrors.date) ? 'warn':'primary'}}">
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint>
          <span [hidden]="!(formErrors.date)">{{formErrors.date}}</span>  
        </mat-hint>
      </mat-form-field>
    </p>
    <button type="submit" mat-raised-button class="background-primary text-floral-white" [disabled]="taskForm.invalid">Submit</button>
  </form>
  <div [hidden]="!flag || errMess">
      <mat-spinner></mat-spinner> <h4>Submitting your comment</h4>
    </div>
    <div *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess.message}}</h4>
      </div>
    <div *ngIf="copyflag" [@expand]>
      <h3>Your Submissions</h3>
      <h4>Task Name: {{taskcopy.name}}</h4>
      <h4>Task Status: {{taskcopy.status}}</h4>
      <h4>Description: {{taskcopy.description}}</h4>
      <h4>Date: {{taskcopy.date | date}}</h4>
    </div>
</div>