<div fxFlex fxFlexOffset="20px" class="form-size" >
  <h3>Edit Task</h3>
  <div *ngIf="task">
    <form novalidate [formGroup]="edittaskForm" (ngSubmit)="onSubmit()" #formDirective="ngForm" [@flyInOut]>
      <p>
        <mat-form-field class="half-width" color="{{(formErrors.name) ? 'warn':'primary'}}">
          <input matInput formControlName="name" placeholder="Task Name" type="text"  > 
          <mat-hint>
            <span [hidden]="!(formErrors.name)">{{formErrors.name}}</span>
          </mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-select placeholder="Status" formControlName="status" class="half-width">
          <mat-option *ngFor="let stat of status" [value]="stat">
            {{ stat }}
          </mat-option>
        </mat-select>
      </p>
      <p>
        <mat-form-field class="half-width" color="{{(formErrors.description) ? 'warn':'primary'}}">
          <input matInput formControlName="description" placeholder="Description" type="text">
          <mat-hint>
            <span [hidden]="!(formErrors.description)">{{formErrors.description}}</span>
          </mat-hint>
        </mat-form-field>
      </p>
      <p>
          <mat-form-field class="half-width" color="{{(formErrors.date) ? 'warn':'primary'}}">
              <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker">
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint>
                <span [hidden]="!(formErrors.date)">{{formErrors.date}}</span>  
              </mat-hint>
            </mat-form-field>
      </p>
      <button type="submit" mat-raised-button  class="background-primary text-floral-white" [disabled]="edittaskForm.invalid">Update</button>
      &nbsp;&nbsp;
      <button mat-raised-button  class="background-primary text-floral-white" [routerLink]="['/listtask']">Cancel</button>
    </form>
  </div>
  <div [hidden]="task || errMess">
    <mat-spinner></mat-spinner> <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess.message}}</h4>
  </div>
</div>