@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
.body{
    padding:0;
    margin:0;
    font-family:'Tangerine', serif;
}
