@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}
$background-light: #9575CD;
.semi-container{
    width: 20%;
}
.jumbotron {
    @include zero-margin(73px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}