<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Immo Project</h1>
  </div>
  </div>
<div class="semi-container"
    fxLayout="column"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px " [@flyInOut]>
    <div fxFlex>
        <button mat-raised-button routerLink="/addtask"><span class="fa fa-plus-circle"></span> Add a Task</button>
      </div>
      <div fxFlex>
        <button mat-raised-button routerLink="/listtask"><span class="fa fa-list"></span> List all tasks</button>
    </div>


</div>

  
