<div class="container">
  <div *ngIf="tasks" [@flyInOut]>

    <table>
      <thead>
          <tr>
              <th>Task Name</th>
              <th>Status</th>
              <th>Completion Date</th>
              <th>Description</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
      </thead>
      <tbody *ngFor="let task of tasks">
        <tr>
          <td>{{task.name}}</td>
          <td>{{task.status}}</td>
          <td>{{task.date | date}}</td>
          <td>{{task.description}}</td>
          <td><a mat-raised-button class="background-primary text-floral-white" [routerLink]="['/edittask',task.id]">Edit</a></td>
          <td><a mat-raised-button (click)="deleteconfirm(task.id)" mat-button class="background-primary text-floral-white">Delete</a></td>
        </tr>  
          
      </tbody>
  </table>
  </div>
  <div [hidden]="tasks || errMess">
    <mat-spinner></mat-spinner> <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess.message}}</h4>
  </div>

</div>
